{% extends "base.html" %}
<head>
    <link rel="icon" href="../static/images/calm_timesheet.png">

    {% block scripts %}
    <script type="module" src="../static/js/homepage.js"></script>
    {% endblock %}

    <title>{{ title }}</title>
</head>
<body>
    {% block content %}
    On homepage
    <div class="field">
        <label class="label">Category List</label>
        <div class="control">
            <textarea
                id="category-data" class="textarea" placeholder="On Each line:
                    <category> <space separated keywords> or
                    <category>: <space separated keywords> "></textarea>
        </div>
    </div>
    <div class="field">
        <label class="label">Notes List</label>
        <div class="control">
            <textarea id="notes" class="textarea" placeholder="On Each line:
            H:M-H:M: <note> or
            H:M-H:M <note> or
            HM-HM: <note> or
            HM-HM <note> or "></textarea>
        </div>
    </div>

    <div class="field is-grouped columns is-centered">
        <div class="control">
          <button id="submit-info" class="button is-link">Submit</button>
        </div>
    </div>

    <label class="label">Processed Results</label>
    <div class="control">
        <textarea readonly id="categorized-display" style="white-space: pre-wrap;" class="textarea" placeholder="Displays results on submit..."></textarea>
    </div>

    {% endblock %}
</body>
</html>
